{% extends 'offers/base.html' %}


{% block content %}
{% include 'offers/navbar.html' %}

<script>
    function myFunction() {
        var input, filter, cards, cardContainer, h5, title, i;
        input = document.getElementById("myFilter");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("myItems");
        cards = cardContainer.getElementsByClassName("card");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-text");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }

</script>

<div class="container-fluid p-0 m-0">

    <div class="row">
        {% include 'offers/imageslide.html' %}
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12 mx-5 px-3 top-section">
            <input type="text" id="myFilter" class="search" onkeyup="myFunction()"
                placeholder="Search By Location Here..">
            <form method="get" class="myform">
                {{ myfilter.form}}
                <input type="submit" class="btn btn-sm" value="go"/>
            </form>
        </div>
    </div>

    <div class="card-columns " id="myItems">
        {% for post in posts  %}

        <div class="card mb-3" style="background-color: #f8ffe5;">
            <img alt="" class="card-img img-fluid geeks" id="geeks" src="{{post.image.url}}" />
            <div class="card-block" style="background-color: #f8ffe5;">
                <h4 class="card-title">Property Name: &nbsp;{{post.property_name}}</h4>
                <p class="card-text">Location: &nbsp;{{post.area}}</p>
                <p class="card-text">Property Type: &nbsp;{{post.category}}</p>
                <p class="card-text link1">Property Link: &nbsp;<a href="{{post.url}}">{{post.url}}</a></p>
                <p class="card-text copy"> Image Copyrights:&nbsp; {{post.property_name}} </p>
                <p class="card-text copy"> Image Copyrights:&nbsp; {{post.contact_number}} </p>
                <p class="card-text copy"> Image Copyrights:&nbsp; {{post.description}} </p>

                <div class="card-footer">

                    <p class="card-text date">Posted:{{post.date_published}}</p>

                    <p class="card-text date2">Expires:{{post.date_expired}}</p> <br>

                </div>

            </div>
        </div>

        {% endfor %}
    </div>




    <div class="mypaginator">
        <ul class="pagination m-0 p-3">

            {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">previous</a></li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="#"> {{ posts.number }} of
                    {{ posts.paginator.num_pages }}</a></li>

            {% if posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>



    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content img01" id="img01">

    </div>





</div>


{% include 'offers/footer.html' %}

{% endblock content %}